budget.py filter=lfs diff=lfs merge=lfs -text
claw_machine.py filter=lfs diff=lfs merge=lfs -text
failure_rate.py filter=lfs diff=lfs merge=lfs -text
find_primenumber.py filter=lfs diff=lfs merge=lfs -text
workout_clothes.py filter=lfs diff=lfs merge=lfs -text
triangular_snail.py filter=lfs diff=lfs merge=lfs -text
carpet.py filter=lfs diff=lfs merge=lfs -text
dart.py filter=lfs diff=lfs merge=lfs -text
number_list.py filter=lfs diff=lfs merge=lfs -text
password.py filter=lfs diff=lfs merge=lfs -text
secretmap.py filter=lfs diff=lfs merge=lfs -text
sum_of_divisors.py filter=lfs diff=lfs merge=lfs -text
average.py filter=lfs diff=lfs merge=lfs -text
hindex.py filter=lfs diff=lfs merge=lfs -text
Maximum_common_divisor.py filter=lfs diff=lfs merge=lfs -text
ponketmon.py filter=lfs diff=lfs merge=lfs -text
spicy.py filter=lfs diff=lfs merge=lfs -text
stockprice.py filter=lfs diff=lfs merge=lfs -text
clothes.py filter=lfs diff=lfs merge=lfs -text
function_develop.py filter=lfs diff=lfs merge=lfs -text
Pick_two_add.py filter=lfs diff=lfs merge=lfs -text
unfinished_player.py filter=lfs diff=lfs merge=lfs -text
package_v5.4.3.3.tar.gz filter=lfs diff=lfs merge=lfs -text
